<div id="sidebar">
  <div id="menu-mask"></div>
  <div id="sidebar-menus">
    <div class="avatar-img is-center"><img src="{{ .Site.Params.avatar }}" onerror="this.onerror=null;this.src='/img/friend_404.gif'" alt="avatar"></div>
    {{ partial "stats.html" . }}
    <hr>
    {{ partial "menu.html" . }}
    <div class="language-toggle-wrap"><button class="language-toggle" type="button" aria-label="Switch to English"><i class="fas fa-language fa-fw" aria-hidden="true"></i><span class="language-toggle-label">EN</span></button></div>
  </div>
</div>
