<a class="social-icon" href="https://github.com/YKYsia" target="_blank" rel="noopener" title="Github"><i class="fab fa-github"></i></a>
<a class="social-icon" href="mailto:yukeyu2003@163.com" title="Email"><i class="fas fa-envelope"></i></a>
<a class="social-icon" href="https://steamcommunity.com/id/YKYsia" target="_blank" rel="noopener" title="Steam"><i class="fab fa-steam"></i></a>
<a class="social-icon" href="https://blog.csdn.net/YKYsia" target="_blank" rel="noopener" title="CSDN"><i class="fas fa-c"></i></a>
<a class="social-icon" href="https://music.163.com/#/user/home?id=485827712" target="_blank" rel="noopener" title="NeteaseMusic"><i class="fas fa-compact-disc"></i></a>
<a class="social-icon" href="https://space.bilibili.com/11651166" target="_blank" rel="noopener" title="Bilibili"><i class="fab fa-bilibili"></i></a>
